* {
    box-sizing: border-box;
}


/* Style the body */

body {
    font-family: Arial;
    margin: 0;
}


/* Style the top navigation bar */

.navbar {
    display: flex;
    background-color: #333;
}


/* Style the navigation bar links */

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

header {
    width: 100%;
    height: 42px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.navbar {
    grid-row: 1;
    grid-template-columns: auto auto auto;
}

.left-bar {
    grid-column: 1 / 1;
    justify-self: start;
}

.header-nav {
    grid-column: 2 / 2;
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-bar {
    grid-column: 3 / 3;
    justify-self: end;
}

#youtubesearch {
    width: 600px;
    height: 35px;
}

 ::placeholder {
    font-size: 20px;
    padding-left: 3px;
}

.search-bar {
    height: 35px;
    margin-left: -5px;
}

#search-button {
    background-image: url('https://archive.vn/Bss88/73e7cc59947d2ad243d63294411f83990629f7fc.png');
    font-size: 100%;
    display: block;
    opacity: 0.6;
    text-indent: -10000px;
    background-color: transparent;
    width: 15px;
    height: 15px;
    box-shadow: none;
    background-position: -28px -66px;
    background-repeat: no-repeat;
    border-width: medium;
    border-style: none;
    margin: 0px 25px;
    padding: 0px;
    border-color: white;
}


/* Change color on hover */

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


/* Column container */

.row {
    display: flex;
    flex-wrap: wrap;
}


/* Create two unequal columns that sits next to each other */


/* Sidebar/left column */


/* Main column */

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}


/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

.col-right-image-thumbnail {
    width: 150px;
    height: 100px;
}

.thumbnail_video_name {
    font-weight: bold;
    font-family: Verdana;
    font-size: 16px;
    text-align: start;
}

.thumbnail_video_channel {
    color: #808080;
    font-size: 12px;
    text-align: start;
}

article {
    display: inline-flex;
    margin: 10px 2px 0px 2px;
}

article div {
    padding-left: 10px;
}

#style-head-thumb {
    clear: both
}

#style-head-next {
    float: left
}

#style-head-auto {
    float: right
}

#style-mytm-video {
    display: none
}


/*
===============================================
Video
===============================================
*/

#style-mtm-player {
    height: 100%;
    width: 100%;
    border: 0px;
    position: relative;
}

.video {
    position: relative;
}

#video-title {
    font-size: 26px;
    padding-top: 10px;
}

h3 {
    padding-top: 5px;
}

.fa {
    margin-left: 10px;
    margin-right: 10px;
}

.subscribenow {
    width: 90pt;
    height: 25pt;
    background: red;
    color: white;
    text-transform: uppercase;
    font-weight: 5500;
}

#poster-picture {
    border-radius: 50%;
    padding-top: 10px;
}

.subscribe h3 {
    margin-left: 50px;
}

.subscribe span {
    margin-left: 0%;
}

.profile-container {
    display: grid;
    grid-template-columns: 10% auto 30%;
    padding: 10px;
}


/* .profile-item {
    font-size: 20px;
    text-align: left;
    padding: 0px;
} */

h6,
p {
    padding-top: 10px;
    font-size: medium;
}

*/
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    .row,
    .navbar {
        flex-direction: column;
    }
}